.title {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70 px 0 30px;
    color: rgb(13, 34, 29);
}

.title h2 {
    font-size: 32px;
    color: rgb(28, 26, 26);
    margin-top: 5px;
    text-transform: none;
}