.contact {
    margin: 80px;
    width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.cntct-col {
    flex-basis: 48%;
    color: black;
}

.cntct-col h3 {
    font-weight: 700px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.cntct-col p {
    max-width: 450px;
    line-height: 1.3;
}

.cntct-col ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

img {
    width: 25px;
    margin-right: 10px;
}

.free {
    width: 30%;
    box-shadow: 0 0 20px rgba(51, 50, 50, 0.858);
    padding: 20px;
    border-radius: 10px;
    color: rgb(26, 24, 24);
    line-height: 1.4;
    background: linear-gradient(to right, grey, rgb(192, 184, 74));
}

.free img {
    display: flex;
    justify-content: center;
    width: 30%;
    /* margin-top: 10px; */
    border-radius: 40px;
    margin-left: 55%;
    margin-right: 30px;
    border: 4px solid #658475;
}

.free h3{
    display: flex;
    justify-content:left;
    margin-bottom: 15px;
    margin-top: -30%;
    font-weight: bold;
    font-size: 20px;
}

.free h4 {
    margin-top: 10px;
}

.free p {
    display: flex;
    align-items: center;
    width: 80%;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: #c7ab6b;
    cursor: pointer;
}

/* Media Querries */
@media screen and (max-width:480px) {
    .contact {
        width: 90%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: 30px;
    }
    .cntct-col {
        text-align: center;
        width: 70%;
    }
    .cntct-col h3 {
        font-size: 20px;
    }
    .cntct-col p {
        text-align: justify;
        font-size: 15px;
        word-spacing: 2px;
        white-space: 1;
    }
    .cntct-col ul li {
        text-align:justify;
        align-items: center;
        font-size: 10px;
        word-spacing: 1;
        line-height: 1;
        
    }
    .free {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .free img {
        display: flex;
        flex-direction: row;
        justify-items:right ;
        width: 100%;
    }
    .free h3 {
        text-align: center;
        display: flex;
        flex-direction: row;
        font-size: 15px;
    }
    .free span {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        text-align: right;
    }
    .free p {
        display: inline;
        align-items: center;
        font-size: 2px;
        font-weight: 300px;
        width: 100%;
    }
}

/* Media Querries */

@media screen and (max-width:780px) {
    .contact {
        width: 80%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: 30px;
    }
    .cntct-col {
        text-align: center;
        width: 60%;
    }
    .cntct-col h3 {
        font-size: 20px;
    }
    .cntct-col p {
        text-align: justify;
        font-size: 15px;
        word-spacing: 2px;
        white-space: 1;
    }
    .cntct-col ul li {
        align-items: center;
        font-size: 15px;
        
    }
    .free {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .free img {
        display: flex;
        flex-direction: row;
        width: 30%;
    }
    .free h3 {
        text-align: center;
        font-size: 15px;
    }
    .free span {
        font-size: 15px;
        text-align: left;
        
    }
    .free p {
        display: inline;
        align-items: center;
        font-size: 15px;
        font-weight: 300;
        width: 70%;
    }
}